@import "tailwindcss";
@plugin "daisyui";

:root {
  --color-primary: #00280b;
  --color-secondary: #f2762f;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  font-family: var(--font-geist-sans), sans-serif;
  scroll-behavior: smooth;
}

.text-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

/* Smooth scrolling for anchor links */
html {
  scroll-behavior: smooth;
}