PORT=5001
NODE_ENV=development
DATABASE_URL=postgresql://neondb_owner:npg_zpoElDSh1CI4@ep-little-water-a8ie1u5r-pooler.eastus2.azure.neon.tech/neondb?sslmode=require&channel_binding=require
JWT_SECRET=please_change_me
JWT_EXPIRES_IN=1d
ADMIN_REGISTRATION_KEY=bootstrap-secret

