@import "tailwindcss";
@plugin "daisyui";




.Col-primary {
  color: #00280B;
}

.Bg-primary {
  background: #00280B;
}

.Col-secondery {
  color: #F2762F;
}

.Bg-secondery {
  background: #F2762F;
}

.background {
  width: 100%;
  /* background-image: url('/asset/background.png'); */
  background-repeat: repeat-y;
  background-size:cover;
}

.animate-Rotate{
  animation: Rotate 10s forwards  linear infinite;
}

@keyframes Rotate {
  from{
    rotate: 0deg;
  }
  to{
    rotate: 360deg;
  }
  
}