@import "tailwindcss";
@plugin "daisyui";


.Bg-BaseClr {
  background-color: #00280B;
}

.Bg-btn {
  background-color: #F2762F;
}

ul li .active {
  color: #F2762F;
  border-bottom: 3px solid #F2762F;
  border-radius: none;
}

.footer {
  background-image: url('../src/assets/bg.png');
  background-repeat: round;
  /* height: 50dvh; */
  background-color: #00280B;
}