@import "tailwindcss";
@plugin "daisyui";


.Bg-BaseClr {
  background-color: #00280B;
}

.Bg-btn {
  background-color: #F2762F;
}

ul li .active {
  color: #F2762F;
  border-bottom: 3px solid #F2762F;
  border-radius: none;
}

.footer {
  background-image: url('../src/assets/bg.png');
  background-repeat: round;
}

.section {
  background-image: url('../src/assets/bg-2.png');
  background-repeat: round;
}

.playBTN {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {

    box-shadow: 0 0 0 0 rgba(241, 0, 0, 0.4)
  }

  70% {

    box-shadow: 0 0 0 30px rgba(241, 9, 9, 0)
  }

  100% {

    box-shadow: 0 0 0 0 rgba(241, 8, 8, 0)
  }
}